        <div class="ui inverted vertical footer segment">
            <div class="ui container right aligned">
              <p class = "text-muted">&copy; Kyle van Niekerk | 
                <a href = "/">Home</a> | 
                <a href = "/portfolio">Portfolio</a></p>
            </div>
        </div>

        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script src = "/stylesheets/scroll.js"></script>       
        <script src = "/stylesheets/contact.js"></script>
    </body>
</html>