<footer class = "float-right align-bottom footer">
  <div class = "container">
    <p class = "text-muted">&copy; Kyle van Niekerk | <a href = "/">Home</a> 
|   <a href = "/portfolio">Portfolio</a></p>
  </div>
</footer>

    </body>
</html>