<!DOCTYPE html>
<html>
    <head>
    <title>Kyle van Niekerk</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    
    
    <div class="ui secondary pointing menu">
        <a class="item" href = "/">
            Home
        </a>
        <a class="item" href = "/portfolio">
            Portfolio
        </a>
        <a class="item" href = "/#contact">
            Contact
        </a>
    <div class = "right menu">
        <a class="item" href="http://www.linkedin.com/in/kylevanniekerk">
            <i class="fab fa-linkedin"></i>
        </a>
        <a class="item" href="https://twitter.com/kdmvanniekerk">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="item" href="https://github.com/Kyle-van-Niekerk">
            <i class= "fab fa-github-square"></i>
        </a>
    </div>
    
    </div>
