<% include partials/header %>
  

    <div class = "ui grid landing-image padding">
        <div class = "four wide column"></div>
        <div class="eight wide column ui center aligned grid ui middle aligned grid">
            <div class="ui fluid card">
            
            <div class="content">
                    <h1>Kyle van Niekerk</h1>
                    <h3>Web Developer</h3>
                    <p>I’m a junior Full Stack Web Developer interested in building beautiful, functional and effective websites. I started to learn code in 2018 and after a couple of months I was able to build web applications. During my training I was responsible for building a large-scaled app called YelpCamp, which involved both front-end and back-end technology. I am now currently building experience as a freelancer by working on my personal portfolio.</p>
                    <div class="ui animated secondary button" tabindex="0">
                        <a href = "/portfolio">
                        <div class="push visible content">View My Portfolio</div>
                            <div class="hidden content">
                                <i class="push right arrow icon"></i>
                        </div>
                        </a>
                    </div>
            </div>  
        </div>
        </div>
    </div>

    <div class = "ui inverted grid contact heading-1">
        <div class = "sixteen wide column ui center aligned grid ui middle aligned grid">
            <h3>Contact</h3>
        </div>
    </div>
    
    <div id = "contact" name = "contact" class = "ui grid contact">
        <div class = "four wide column"></div>
        <div class = "eight wide column ui center aligned grid ui middle aligned grid">
            <form action = "https://formspree.io/kdmvanniekerk@yahoo.com" method = "POST" class="ui form padding forem">
                <div class="field">
                    <label>First Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="last-name" placeholder="Last Name">
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <input type="email" name="email-address" placeholder="Last Name">
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea name = "message"></textarea>
                </div>
                <div>
                <button class="ui secondary button" type="submit">Submit</button>
                </div>
                </form>
        </div>
    </div>


<% include ./partials/footer %>