<% include partials/header %>

<div class="text-center row" id="portfolio">
  
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="https://pacific-coast-13589.herokuapp.com/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1538544714/Screen_Shot_2018-10-03_at_1.24.28_PM.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <h3>Yelp Camp (Demo Site)</h3>    
            <p>This is a website I built for my final project during my web development bootcamp.</p>
            <p>Technology used: HTML, CSS, Javascript, Bootsrap, JQuery, MongoDb</p>
    </div>
    </div>
    </div>
    
</div>


<% include ./partials/footer %>