<% include ./partials/header1 %>

        <div class ="ui grid">
            <div class = "four wide column"></div>
            <div class = "eight wide column ui center aligned ui middle aligned">
            <h2>Welcome To My Portfolio</h2>
            </div>
        </div>



<div class = "ui grid bob ui center aligned middle aligned content portfolio-page">
    <div class = "four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1538544714/Screen_Shot_2018-10-03_at_1.24.28_PM.png">
            </div>
            <div class="content">
                    <a href = "https://pacific-coast-13589.herokuapp.com/" class="header">YelpCamp</a>
                <div class="meta">
                    <span class="date">2018</span>
                </div>
                <div class="description">
                    
                </div>
            </div>  
        </div>
    </div>
    <div class = "four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496317/Screenshot_2018-11-06_at_17.06.25.png">
            </div>
            <div class="content">
                    <a href = "https://color-game-2018.herokuapp.com/" class="header">Color Game</a>
                <div class="meta">
                    <span class="date">2018</span>
                </div>
                <div class="description">
                    
                </div>
            </div>  
        </div>
    </div>
    <div class = "four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496313/Screenshot_2018-11-06_at_17.02.56.png">
            </div>
            <div class="content">
                    <a href = "https://www.placesforpeople.co.za/" class="header">Places For People</a>
                <div class="meta">
                    <span class="date">2018</span>
                </div>
                <div class="description">
                    
                </div>
            </div>  
        </div>
    </div>
    
    <div class = "four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496318/Screenshot_2018-11-06_at_17.12.17.png">
            </div>
            <div class="content">
                    <a href = "https://patatap-clone-2018.herokuapp.com/" class="header">Patatap Clone</a>
                <div class="meta">
                    <span class="date">2018</span>
                </div>
                <div class="description">
                    
                </div>
            </div>  
        </div>
    </div>
    
    <div class = "four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496329/Screenshot_2018-11-06_at_17.14.11.png">
            </div>
            <div class="content">
                    <a href = "https://rest-ful-blog-2018.herokuapp.com/" class="header">RESTful Blog</a>
                <div class="meta">
                    <span class="date">2018</span>
                </div>
                <div class="description">
                    
                </div>
            </div>  
        </div>
    </div>
    
    <div class = "four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496318/Screenshot_2018-11-06_at_17.09.10.png">
            </div>
            <div class="content">
                    <a href = "http://www.kylevanniekerk.com/" class="header">Portfolio Site</a>
                <div class="meta">
                    <span class="date">2018</span>
                </div>
                <div class="description">
                    
                </div>
            </div>  
        </div>
    </div>
    
    <div class = "four wide column">
        <div class="ui fluid card">
            <div class="image">
                <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496327/Screenshot_2018-11-06_at_17.15.23.png">
            </div>
            <div class="content">
                    <a href = "https://to-do-list-18.herokuapp.com/" class="header">To Do List</a>
                <div class="meta">
                    <span class="date">2018</span>
                </div>
                <div class="description">
                    
                </div>
            </div>  
        </div>
    </div>


</div>


<% include ./partials/footer %>