<% include partials/header %>

<div class="text-center row" id="portfolio">
  
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="https://pacific-coast-13589.herokuapp.com/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1538544714/Screen_Shot_2018-10-03_at_1.24.28_PM.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <p>YelpCamp (Bootcamp Project)</p>    
    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="https://color-game-2018.herokuapp.com/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496317/Screenshot_2018-11-06_at_17.06.25.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <p>Color Game (Bootcamp Project)</p>    
    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="http://www.placesforpeople.co.za/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496313/Screenshot_2018-11-06_at_17.02.56.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <p>Places For People</p>    
    </div>
    </div>
    </div>
    
</div>

<div class="text-center row" id="portfolio">
  
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="https://patatap-clone-2018.herokuapp.com/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496318/Screenshot_2018-11-06_at_17.12.17.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <p>Patatap Clone (Bootcamp Project)</p>    
    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="https://rest-ful-blog-2018.herokuapp.com/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496329/Screenshot_2018-11-06_at_17.14.11.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <p>RESTful Blog (Bootcamp Project)</p>    
    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="http://www.kylevanniekerk.com/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496318/Screenshot_2018-11-06_at_17.09.10.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <p>Portfolio Website</p>    
    </div>
    </div>
    </div>
    
</div>

<div class="text-center row" id="portfolio">
  
    <div class="col-sm-4">
    <div class="thumbnail">
        <a href="https://to-do-list-18.herokuapp.com/">
            <img src="https://res.cloudinary.com/kylesacloud/image/upload/v1541496327/Screenshot_2018-11-06_at_17.15.23.png" class = "img-thumbnail" alt="Responsive image" style="width:100%">
        </a>
    <div class="caption">
            <p>To-Do-List (Bootcamp Project)</p>    
    </div>
    </div>
    </div>
    
</div>


<% include ./partials/footer %>