body, html{
    width:  100%;
    height: 100%;
}

i{
    font-size: 1.5em;
}

#arrow{
    padding-top: 14%;
    padding-bottom:9%;

}



.body_1{
    height:100%;
    padding-top: 3%;
}


.body_2{
    height: 100%;
    width:100%;
}

#portfolio{
    height: auto;
    padding-top: 1%;
}

label, input, textarea{
    display: block;
    text-align: center;
}

button {
    margin:0 auto;
    display:block;
}

.avatar {
    
    border-radius: 50%;
}

.thumbnail{
    height:85%;
    width: 85%;
}


