body, html{
    width:  100%;
    height: 100%;
}

i{
    font-size: 1.5em;
}

#arrow{
    padding-top: 20%;
    padding-bottom:4%;

}



.body_1{
    height:50%;
    padding-top: 20%;
}


.body_2{
    height: 100%;
    width:100%;
}

#portfolio{
    padding-top: 2.5%;
}

label, input, textarea{
    display: block;
    text-align: center;
}

button {
    margin:0 auto;
    display:block;
}



